src/main/mule/multiPart-file.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="file-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="file-api-config" api="file-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <file:config name="File_Config" doc:name="File Config" doc:id="26213d83-49c1-4f9b-b795-61bb6f33233e">
        <file:connection />
    </file:config>
    <configuration-properties doc:name="Configuration properties" doc:id="f48576d2-e643-4169-b123-9cea922400c9" file="adress.yaml" />
	<flow name="file-api-main">
        <http:listener config-ref="file-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="file-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="file-api-console">
        <http:listener config-ref="file-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="file-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\file\(file_id):file-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="file_id">attributes.uriParams.'file_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="5aaf2390-5035-4e91-92f6-65c3c7550174" message="start deleting " />
        <file:list doc:name="List" doc:id="3f4c9411-2faa-4686-a9f0-fa2e55ea5929" config-ref="File_Config" directoryPath="#[p('file.base') ++ &quot;/src/main/resources/input&quot;]" />
        <set-variable value="#[payload.attributes.fileName]" doc:name="Set Variable" doc:id="fcfa7e63-1de5-48a9-a148-ffd8700614c8" variableName="fileName" />
        <file:delete doc:name="Delete" doc:id="6ceec879-2b06-4554-86f0-06dc53c1d994" config-ref="File_Config" path="#[&quot;contact.csv&quot;]" />
    </flow>
    <flow name="get:\file\(file_id):file-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="file_id">attributes.uriParams.'file_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\file\(file_id):file-api-config" />
		<ee:transform doc:name="Transform Message" doc:id="b9541877-4f69-4d55-b544-658b649f5f53">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="getFileID" ><![CDATA[%dw 2.0

output application/json
---
if (vars.file_id == "1")
  {name:'contacts.csv'}
else { name: 'contacts2.csv' }]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:read doc:name="Read" doc:id="d658ae9b-55d1-4be3-8cf6-dfcca0576bc0" config-ref="File_Config" path="#[p('file.base') ++ &quot;src/main/resources/input/&quot; ++ (vars.getFileID.name  default '' )]"/>
		<ee:transform doc:name="Transform Message" doc:id="e16212b8-b248-432c-a020-f825c57addb6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="getFileID"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
    </flow>
    <flow name="post:\file:multipart\form-data:file-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="2a100e38-78a8-4d47-8d5f-1bbefaea637e" message="starting writing files" />
        <ee:transform doc:name="Transform Message" doc:id="580ab4b9-8b98-4b10-a432-2cce5047fe97">
            <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
            <ee:variables>
                <ee:set-variable variableName="fileInfo"><![CDATA[%dw 2.0
output application/json
---
{
  status: "success",
 "file_id":"UP16AL1234DLXCYi89hi",
    fileName: payload.parts.'fileName'.headers.'Content-Disposition'.filename
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="9b7fff45-49f6-4a00-bbf6-1fd7b5f40d2c" message="#[vars.fileInfo.fileName]"/>
		<file:write doc:name="Write" doc:id="4c68a765-fb83-4d12-90e5-0201a56ab3d2" config-ref="File_Config" path="#[%dw 2.0 
 output application/java

--- 
 p('file.base') ++ &quot;/src/main/resources/input/&quot; ++ (vars.fileInfo.fileName default '' )]">
            <file:content><![CDATA[#[%dw 2.0
output application/csv header = true
---
payload.parts.'fileName'.content]]]></file:content>
        </file:write>
        <ee:transform doc:name="Transform Message" doc:id="dd27035e-98f5-4fb4-9a6c-a0d89d268a05">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.fileInfo]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
